<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

       <!--alias-->
       <typeAliases>
              <package name="com.springapp.mvc.model" />
       </typeAliases>


       <mappers>

<!--              <mapper resource="mapper/user_mapper.xml"/>-->
              <mapper resource="mapper/user-mapper.xml" />

       </mappers>



 <!--      khong the tao 2 the mapper
       Cung khong the tao 2 the mappers-->

</configuration>